/*轮播图开始*/
.slide-box{
   position:relative;
}
.slide{
    position: relative;
    height: 460px;
}
.img-box img{
    width: 1226px;
    height: 460px;
    position: absolute;
    left:0;
    top:0;
}
.prev-btn,.next-btn{
    width: 40px;
    height: 70px;
    position: absolute;
    top:50%;
    margin-top:-35px;
    color: #757575;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    border-radius: 4px;
}
.prev-btn{
    left:234px;
}
.next-btn{
    right:0px;
}
.prev-btn:hover,.next-btn:hover{
    background: rgba(0,0,0,0.7);
    color: #fff;
}
.btns li{
    width: 6px;
    height: 6px;
    background: #232429;
    border:2px solid #65666b;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.btns li:hover{
    background: #898a8e;
    border:2px solid #4f4e56;
}
.btns{
    width: 128px;
    position: absolute;
    right: 0px;
    bottom:20px;
}
.list{
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    padding:20px 0;
    background:rgba(0,0,0,0.6);
    width:234px;
}
.list-item>a{
    display:block;
    height:42px;
    line-height:42px;
    padding:0px 0px 0px 30px;
    color:white;
    font-size:14px;
}
.list-item>a:hover{
    background: #ff6700;
}
.icon-arrow{
    float:right;
    margin-right:0px;
}
.sub-list{
    position:absolute;
    top:0;
    left:234px;
    background:#fff;
    height:100%;
    box-shadow:0 8px 16px rgba(0,0,0,0.18);
    display:none;
    border-top:10px
}
.list-item:hover .sub-list{
    display:block;
}
.sub-list-3{
    width: 795px;
}
.sub-list ul{
    float:left;
    height:100%;
    width: 265px;
}
.sub-list li{
    overflow:hidden;
    padding: 18px 15px 18px 20px;
}
.sub-list a{
    float:left;
    color:black;
}
.list-img-box{
    width: 168px;
}
.list-img-box:hover .list-title{
    color:#ff6700;
}
.list-img{
    vertical-align:middle;
}
.list-title{
    color:#333;
    font-size: 14px;
}
.sub-list a.buy-btn{
    float:right;
    width: 58px;
    height: 22px;
    border:1px solid #ff6700;
    color:#ff6700;
    font-size:12px;
    text-align:center;
    line-height:22px;
    margin-top:10px;
}
.sub-list a.buy-btn:hover{
    color:#fff;
    background:#ff6700;
}

/*轮播图结束*/

/*频道列表开始*/
.channel-box{
    margin-top: 14px;
    width: 1226px;
    height: 170px;
    overflow:hidden;
    margin-bottom:25px;
}
.channel-list{
    width: 234px;
    height: 170px;
    background: #5f5750;
    float:left;
    margin-bottom:26px;
}
.channel-list ul{
    overflow:hidden;
    padding: 3px 3px 0;
}
.channel-list li{
    width: 76px;
    height: 82px;
    float:left;
    position:relative;
}
.channel-list i{
    display:block;
    text-align:center;
    font-size:24px;
    color:rgba(255,255,255,0.7);
    margin-top:18px;
}
.channel-list span{
    text-align:center;
    display:block;
    color:rgba(255,255,255,0.7);
    font-size:12px;

}
.line-right{
    position:absolute;
    top: 6px;
    right: 0;
    width: 1px;
    height: 70px;
    background: #665e57;
}
.line-bottom{
    position:absolute;
    bottom:0;
    width: 64px;
    height: 1px;
    right:5px;
    background: #665e57;
}
.promo-list{
    float:left;
}
.promo-list img{
    display:block;
}
.promo-list a{
    float:left;
    margin-left:15px;
}
.promo-list a.list-one{
    margin-left:14px;
}
/*频道列表结束*/
/*明星单品开始*/
.star-box{
    position; relative;
}
.star-title{
    height: 58px;
    line-height: 58px;
    font-weight: 200;
    font-size: 22px;
    color: #333;
}
.more-box{
    position: absolute;
    right:0px;
    top: 20px;
}
.pro-list{
    overflow; hidden;
    margin-bottom:40px;
}
.pro-list ul{
    width: 2480px;
    height: 340px;
}
.pro-item{
    width: 234px;
    height: 301px;
    background: #fafafa;
    padding-top: 39px;
    float:left;
    margin-right: 14px;
}
.pro-img-box{
    display:block;
    text-align: center;
}
.pro-img{
    height: 160px;
    width: 160px;
}
.pro-title{
    display: block;
    height: 21px;
    line-height: 21px;
    color: #212121;
    text-align: center;
    font-size: 14px;
    margin-top: 22px;
}
.pro-dest{
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    color: #b0b0b0;
    margin:0 20px 12px;
}
.pro-price{
    color: #ff6700;
    text-align: center;
    font-size: 14px;
}





/*明星单品结束*/


/*家电开始*/
.content-box{
    background: #f5f5f5;
    padding-top: 60px;
}
.homeelec-box{
    position:relative;
}
.tab-btns{
    position:absolute;
    top: 17px;
    right: 0;
    color: #424242;
    font-size: 16px;
}
.tab-btns li{
    float: left;
    margin-left: 30px;
    font-weight:200;
}
.tab-btns .active{
    color: #ff6700;
    border-bottom:2px solid #ff6700;
}
.


