*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    /*height: 3576px;*/
    margin: 0 auto;
    position: relative;
}
/*header开始*/
#header{
    height: 104px;
    width: 100%;
    position: relative;
    background-color: #fff;
    font-weight: 400;
}
#header .menu{
    width: 40px;
    height: 50px;
    position: absolute;
    left:45px;
    top: 50%;
    -webkit-transform: translateY(-50%);
}
#header .menu img{
    display: block;
    height: 25px;
    width: 34px;
    margin:6px 2px;
}
#header .menu span{
    display: block;
    height: 21px;
    width: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #000;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-align: center;
}
#header img{
    width: 73px;
    height: 73px;
    display: block;
    margin: 15px auto;
}
#header .log{
    width: 81px;
    height: 41px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right:30px;
}
#header .log span{
    color: #000;
    font-size: 16px;
    height: 49%;
    margin: 0;
}
#header .log .sp1{
    display: block;
    width: 100%;
}
#header .log a{
    font-size: 12px;
    width: 32%;
    height: 49%;
    margin: 0;
    color: rgb(184,159,122);
    font-weight: 700;
}
#header .log a:hover{
    font-weight:900 ;
}

/*header结束*/

/*ad开始*/
#ad{
    width: 100%;
    position: relative;

}
#ad img{
    width: 100%;
}
.big{
    display: block;
}
.small{
    display: none;
}
#ad span {
    width: 24px;
    height: 21px;
    padding: 0 5px;
    background-color: #47474A;
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 18px;
    right: 32px;
    font-size: 12px;
    font-weight: 900;
}
#ad .more{
    display: block;
    width: 100px;
    height: 22px;
    font-size: 18px;
    position: absolute;
    right: 25px;
    bottom: 20px;
    color: #fff;
    text-align: center;
    text-decoration: underline;
}
/*ad结束*/

/*rewards开始*/
#home-rewards{
    /*height: 220px;*/
    background: #0f0f0f;
}
#container{
    width: 750px;
    margin: 0 auto;
    overflow: hidden;
    /*height: 100%;*/
}
.rewards-mark{
    width: 260px;
    height: 145px;
    background:  #0f0f0f url("../image/rewards_bg.png") 0 0 no-repeat;
    background-size: contain;
    float: left;
    padding: 75px 0 0 60px;
}
.rewards-content{
    width: 430px;
    float: right;
    height: 100%;
}
.rewards-mark p{
    color: #fff;
    font-size: 18px;
}
.rewards-mark img{
    width: 160px;
}
.rewards-content h3{
    font-size: 25px;
    color: #fff;
    margin-top: 40px;
}
.rewards-content p{
    font-size: 16px;
    color: #fff;
}
.rewards-btn{
    margin-top: 20px;
}
.rewards-btn a{
    color: #b89f7a;
    font-weight: 900;
}
.rewards-btn a:hover{
    font-weight: 500;
}
.rewards-btn .btn{
    width: 114px;
    height: 50px;
    border:1px solid #b89f7a;
    background: #000000;
    text-align: center;
    line-height: 50px;
    color:#b89f7a;
    float: left;
    margin-right: 20px;
}
.rewards-btn .btn:hover{
    background: #b89f7a;
    color: #ffffff;
}


/*app开始*/



    #app{
        background:#efebe8 url(../image/app-web.png) 0 0 no-repeat;
        background-size:contain;
        padding-top:23% ;
        position: relative;
        /*height: 300px;*/

    }

    #app img{
        width: 130px;
        height: 130px;
        position: absolute;
        left:41%;
        top:50%;
        -webkit-transform: translateY(-50%);
    }
    .app-text{
        width:35%;
        position: absolute;
        left:41%;
        top:50%;
        /*-webkit-transform: translateY(-50%);*/
        -webkit-transform:  translateY(-50%) translateX(147px);

    }
    .app-text p{
        font-size: 18px;
        line-height: 28px;
        color: #3d3d3d;
        margin-bottom: 10px;

    }
    .app-text a{
        color: #b89f7a;
        font-size: 16px;
    }
    .btns {
        display: none;
    }

/*app结束*/

/*cell-box开始*/
#cell-box{
    width: 100%;
    /*padding-top: 50%;*/

}
/*#cell-box .cell1,.cell2{*/
    /*width: 50%;*/
    /*background-size: cover;*/
    /*padding-top: 50%;*/
    /*float: left;*/
/*}*/
/*#cell-box .cell1{*/
    /*background: url("../image/cell1.jpg") 0 0 no-repeat;*/
/*}*/
/*#cell-box .cell2{*/
    /*background: url("../image/cell2.jpg") 0 0 no-repeat;*/
/*}*/
#cell-box>div{
    width: 50%;
    position: relative;
    float:left;
    position: relative;
}
#cell-box>div img{
    display: block;
    width: 100%;
}
#cell-box>div .tab{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 10px;
}
 #cell-box>div span{
    display: block;
    width: 100%;
    text-align: center;
}
#cell-box .title{
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
}
#cell-box .cell1 .title{
    color: #D81026;
}
#cell-box .cell2 .title {
    color: #fffffe;
}
#cell-box .title1{
    font-size: 13px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 3px;
}
#cell-box .cell1 .title1{
    color: #000000;
}
#cell-box .cell2 .title1{
    color: #a98e67;
}
/*cell-box结束*/

/*wsg开始*/
#wsg{
    width: 100%;
    background-color: #106e4b;
    overflow: hidden;
}
#wsg .wsg-container{
    width: 768px;
    height: 222px;
    margin: 0 auto;
    overflow: hidden;
}
#wsg .wsg-container>div{
    width: 384px;
    float: left;
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 222px;
    
}
#wsg .wsg-container .block .left{
    float: left;
    width: 177px;
    height: 127.5px;
    background: url("../image/block1.png") center center no-repeat;
    background-size: contain;
    margin: 47px 25px;
}
#wsg .wsg-container .block .right{
    float: right;
    width: 106px;
    height: 106.5px;
    background: url("../image/wsg-qrcode.png") center center no-repeat;
    background-size: contain;
    margin: 58px 10px 58px 25px;
}
#wsg .wsg-container .block1 .left {
    float: left;
    width: 99px;
    height: 162px;
    background: url("../image/wsg-cup.png") center center no-repeat;
    background-size: contain;
    margin: 30px 25px;
}
#wsg .wsg-container .block1 .right{
    float: right;
    width: 184px;
    height: 142px;
    background: url("../image/wsg-wording.png") center center no-repeat;
    background-size: contain;
    margin: 40px 25px;
}
/*wsg结束*/