*{
    margin:0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    margin:0 auto;
    width: 1002px;
}
/*header开始*/
#header{
    height: 120px;
    background-color: #fff;
}
#header .wrapper{
    height: 120px;
}
.logo{
    float:left;
    width: 250px;
    height: 58px;
    line-height: 58px;
    margin-top: 31px;
}
.logo a{
    display: block;
    height: 58px;
}
.nav{
    height: 120px;
    float: left;
    margin-left: 84px;
}
.nav ul{
    height: 58px;
}
.nav li{
    float:left;
    height: 58px;
    line-height: 58px;
    margin-top: 31px;
    padding: 0 24px 0 25px;
    position: relative;
}
.nav a{
    color: #626262;
    font-size: 15px;

}
.nav .active a{
    color: #00aeff;
}
.nav li::after{
    content: '';
    background-color:#6b6b6b ;
    height: 12px;
    width: 1px;
    position: absolute;
    top:50% ;
    right: 0;
    margin-top: -6px;
    display: block;
}

.search{
    width: 131px;
    height: 30px;
    background-color: #f1f3f6;
    float: left;
    overflow: hidden;
}
.search .search-txt{
    float: left;
    display: block;
    background-color: #f1f3f6;
    color: #a3a3a3;
    width: 90px;
    height: 14px;
    padding: 8px 0 8px 11px;
    outline: none;
}
.search .search-btn{
    float: left;
    width: 30px;
    height: 30px;
    background-color: #a3a3a3;
}




/*header结束*/

/*轮播图开始*/
#scroll{
    height: 460px;
    background-color: #31333e;
}
.img-box{
    height: 460px;
    width: 1002px;
    overflow: hidden;
    position: relative;
}
.img-box img{
    display: none;
}
.img-box .selected{
    display: block;
}
.img-box .prev{
    width: 50px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -50px;
    overflow: hidden;
}
.img-box .prev img{
    display: block;
    position: absolute;
    top: 0;
    left:0;
}
.img-box .next{
    width: 50px;
    height: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -50px;
    overflow: hidden;
}
.img-box .next img{
    display: block;
    position: absolute;
    top: 0;
    left: -50px;
}

/*轮播图结束*/

/*choose开始*/

#choose{
    background-color: #ffffff;
}
#choose .wrapper{
    height: 492px;
}
#choose .wrapper div{
    height: 492px;
    width: 334px;
    float: left;
    position: relative;
}
#choose .wrapper div .title{
    height: 40px;
    width: 334px;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top:80px;
    left: 0;
    color: #626262;
}
#choose .wrapper div .img{
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 138px;
    left: 117px;
    overflow: hidden;
}
#choose .wrapper .wd img{
    position: absolute;
    top: -205px;
    left:-117px;
}
#choose .wrapper .sm img{
    position: absolute;
    top: -205px;
    left:-451px;
}
#choose .wrapper .ma img{
    position: absolute;
    top: -205px;
    left:-785px;
}
#choose .wrapper div .content{
    display: block;
    height: 97px;
    width: 334px;
    position: absolute;
    top: 265px;
    left: 0;
    font-size: 15px;
    text-align: center;
    color: #2a2e39;
    padding: 0;
    /*word-wrap: break-word;*/
}
#choose .wrapper div .more{
    display: block;
    position: absolute;
    top:392px;
    left: 130px;
    color: #00aeff;
    font-size: 15px;
}
/*choose结束*/

/*works开始*/
#works{
    background-color: #e2e7ed;
    height: 500px;
}
#works .wrapper{
    height: 500px;
}
#works .wrapper h{
    color: #626262;
    font-size: 30px;
    height: 70px;
    line-height: 70px;
}
#works .wrapper ul{
    height: 404px;
    width: 1002px;
}
#works .wrapper ul li{
    width: 250.5px;
    height: 202px;
    float: left;
}
/*works结束*/

/*clients开始*/
#clients{
    height: 155px;
    background-color: #ffffff;
}
#clients .wrapper{
    height: 155px;
}
#clients .wrapper h{
    font-size: 30px;
    color: #626262;
    height: 67px;
    line-height: 67px;
}
#clients .wrapper .logos{
    height: 61px;
    position: relative;
}
#clients .wrapper .logos .prev1{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    left:0;
}
#clients .wrapper .logos .next1{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    right:0;
}

/*clients结束*/

/*footer开始*/
#footer{
    height: 600px;
    background-color: #31333e;
}
#footer .wrapper{
    height: 176px;
    position: relative;
}
#footer .wrapper ul{
    height: 22px;
    position: absolute;
    left: 0;
    top:39px;
}
#footer .wrapper ul li{
    padding: 0 15px 0 15px;
    float: left;
    text-align: center;
    font-size: 15px;
    color: #e2e7ed;
    position: relative;
}
#footer .wrapper ul li::before{
    content: '';
    background-color: #e2e7ed;
    width: 1px;
    height: 16px;
    position: absolute;
    top:50%;
    left: 0;
    margin-top: -8px;

}
#footer .wrapper ul #home{
    padding-left: 0;
}
#footer .wrapper .sp-1{
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #e2e7ed;
    position: absolute;
    top:61px;
    left: 0;
}
#footer .wrapper .sp-2{
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: #e2e7ed;
    position: absolute;
    top:117px;
    left: 0;
}
#footer .wrapper div{
    position: absolute;
    top:39px;
    right:0px;
}
/*footer结束*/